._hidden {
    display: none !important;
}
._container {
    display: flex;
}
._content {
    width: 100%;
}
._container-content {
    width: 100%;
    display: block;
    padding: 0 5px;
}
._footer {
    width: 100%;

    border: 1px solid;
    min-height: 25px;
    padding: 0 90px;
    border-radius: 5px;
    margin-top: 5px;
}
._header {
    width: 100%;

    border: 1px solid;
    min-height: 50px;
    border-radius: 5px;
}
._sidebar_left {

    min-width: 120px;
    min-height: 30px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}
._sidebar_right {

    min-width: 90px;
    min-height: 30px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}
._main_menu li {
    display: inline-block;

    padding-right: 5px;
    list-style: none; 
}
._main_menu ul {
    width: 100%;

    padding: 0 10px;
    margin: 5px 0 7px 0;
}
._main_menu {
    width: 100%;
    
    border: 1px solid;
    padding: 0 90px;
    border-radius: 5px;
    margin-top: 5px;
}
._sub_menu li {
    display: block;

    /*padding-right: 5px;*/
    list-style: none; 
}
._sub_menu ul {
    width: 100%;

    padding: 0 5px;
    /*margin: 5px 0 7px 0;*/
}
._sub_menu {
    width: 100%;
    
    /*border: 1px solid;*/
    /*border-radius: 5px;*/
    /*margin-top: 5px;*/
}
._promo {
    width: 100%;

    border: 1px solid;
    min-height: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
._holidays {
    width: 100%;

    border: 1px solid;
    min-height: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
._slider {
    width: 100%;
    
    border: 1px solid red;
    min-height: 150px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 5px;
}


@media (max-width: 800px) {
    ._container {
        display: block;
    }
    ._main_menu {
        padding: 0;
    }
    ._footer {
        padding: 0px;
    }
}
